/*=============== RESET ===============*/
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{   
    position: relative;
}
body{
    height: 100%;
    background-color: $light;
    font-family: $main-font;
    font-weight: $font-regular;
    font-size: $medium-font-size;
    color: $dark;
    text-align: center;
}
h1 {
    font-weight: $font-bold;
    font-size: $h1;
    text-align: center;
    margin-bottom: $gap;
    color: $primary;
}
a{
    text-decoration: none;
    color: $accent;
    border-radius: .6rem;
    -webkit-border-radius: .6rem;
    -moz-border-radius: .6rem;
    -ms-border-radius: .6rem;
    -o-border-radius: .6rem;
}
p{
    margin-block: 0;
}
input, textarea, tags {
    background-color: $background;
    border: 1px solid $medium;
    outline: none;
    padding: .8rem;
    display: block;
    width: 100%;
    font-family: inherit;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;

    &:hover, &:focus{
        border-color: $dark;
    }
}
textarea {
    min-height: 10rem;
}
li {
    list-style-type: none;
}
button {
    border: none;
    color: $accent;
    background-color: inherit;
    border-radius: .6rem;
    -webkit-border-radius: .6rem;
    -moz-border-radius: .6rem;
    -ms-border-radius: .6rem;
    -o-border-radius: .6rem;
    padding: .3rem .5rem;
}
i{
    font-size: $medium-font-size;
    &::before{
        padding: auto;
    }
}
/*=============== GENERAL CLASSES ===============*/
.up3{
    transform: skewY(3deg);
    -webkit-transform: skewY(3deg);
    -moz-transform: skewY(3deg);
    -ms-transform: skewY(3deg);
    -o-transform: skewY(3deg);
}
.desc3{
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    -o-transform: skewY(-3deg);
}
.container{
    width: 90%;
    margin: 0 auto;
    @media screen and (min-width: $xl){
        width: 1200px;
    }
}
.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    >*{
        max-width: 100% !important;
        max-height: 100% !important;
    }
}
.text-muted{
    color: $dark;
    font-size: $smaller-font-size;
}
.primary{
    color: $primary;
}
.btn{
    padding: 1rem 2rem;
    background-color: $secondary;
    border: solid 1px $secondary;
    color: $accent;
    font-size: $medium-font-size;
    font-weight: $font-bold;
    border-radius: 10rem;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
    box-shadow: 0px 3px 7px 0px rgb(0 0 0 / 35%);
    &:hover{
        background-color: transparent;
        color: $secondary;
    }
}
.primary{
    color: $primary;
}
.secondary{
    color: $secondary;
}
.accent{
    color: $accent;
}
.bg-primary{
    background-color: $primary;
    color: $background;
}
.bg-secondary{
    background-color: $secondary;
    color: $light;
}
.bg-accent{
    background-color: $accent;
}

/*=============== ANIMATIONS ===============*/
/* Fade out animation */
.fadeOut {
    /*@keyframes|duration|timing-function|direction|fill-mode*/
    animation: fadeOut 0.7s linear both;
    -webkit-animation: fadeOut 0.7s linear both;
}
  
@keyframes fadeOut {
0% { opacity: 1;}
100% { opacity: 0;}
}
/*=============== PAGE CONTENT ===============*/
.logo{
    width: 100%;
    position: relative;
    display: block;
    .center{
        text-anchor: middle;
    }
    .dev{
        font-family: $main-font;
        fill: $dark;
        font-size: 1.5rem;  
    }
    .ressources{
        font-family: $important-font;
        font-size: 3rem;  
    }
    
}
/*========== HEADER ==========*/
header.sticky-top{
    background-color: $primary;
    box-shadow: 0px 3px 7px 0px rgb(66 94 94 / 35%);
    min-height: $header-height;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    nav{
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .navbar-brand{
            display: block;
            width: 100%;
            @media screen and (min-width: $l){
                height: 100%;
                width: 25%;
            }
            
        }
        .navbar{
            margin-bottom: 1rem;
            width: 100%;
            display: flex;
            justify-content: space-around;
            @media screen and (min-width: $l){
                justify-content: space-around;
                justify-content: flex-end;
                width: 75%;
                margin-bottom: 0;
            }

            >*{
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
            div{
                i{
                    color: $secondary;
                }
                #search{
                    display: none;
                    width: 80%;
                    padding: .2rem .5rem;
                    border-radius: .3rem;
                    -webkit-border-radius: .3rem;
                    -moz-border-radius: .3rem;
                    -ms-border-radius: .3rem;
                    -o-border-radius: .3rem;
                    background-color: $light;
                    input{
                        width: 90%;
                        outline: none;
                        text-overflow: ellipsis;
                        padding-left: $gap;
                        border: none;
                        background-color: transparent;
                    }
                    i{
                        color: $secondary;
                    }
                    
                }
                @media screen and (min-width: $m){
                    flex:2;
                    padding: 0 $gap;
                    a[title="rechercher"]{
                        display: none;
                    }
                    #search{
                        display: flex;
                        align-items: center;
                    }
                }
            }
            ul{
                li{
                    a, button{
                        display: block;
                        padding: .5rem;
                        &.outline-secondary{
                            color: $secondary;
                        }
                        &:hover{
                            color: $secondary;
                        }  
                    }
                }
            }
        } 
    }
}
/*========== MAIN CONTENT ==========*/
main{
    margin: 30vh 0 25vh;
    @media screen and (min-width: $l){
        margin-top: $header-height + 2rem ;
    }
}
.alert{
    width: 100%;
    margin-bottom: 2rem;
    padding: .8rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    font-weight: $font-bold;
        &-success{
        border:solid .125rem $success;
        color: $success;
    }
    &-error{
        border:solid .125rem $warning;
        color: $warning;
    }
}
.delete{
    color: $warning;
}
.card{
    background-color: #fff;
    position: relative;
    margin-bottom: $gap;
    border-radius: .2rem;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -ms-border-radius: .2rem;
    -o-border-radius: .2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        width: 100%;
        padding: .5rem;
        color: $accent;
    }
    .card-header,
    .card-body,
    .card-footer{
        width: 100%;
    }
}
/*===== MASONRY LAYOUT =====*/
.grid { 
    & >*{
        margin-bottom: $gap;
        break-inside: avoid;
    }
    @media screen and (min-width: $m){
        --columns: 2;
        display: column;
        columns: var(--columns);
        gap: $gap;   
        &> *{
            break-inside: avoid;
        }
    }
    @media screen and (min-width: $xl){
        --columns: 3;
    }
}
@supports (grid-template-rows: masonry){
    .grid{
        @media screen and (min-width: $m){
            display: grid;
            grid-template-columns: repeat(var(--columns), 1fr);
            grid-template-rows: masonry;
        }
    }
    .flow {
        margin-bottom: 0;
    }
}
/*===== FORMS =====*/
.form{
    margin: 20vh auto;

    &::after{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        content:'';
        z-index: -1;
        background-image: url('/img/background.jpg');
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        @media screen and (min-width: $l){
            width: 60%;
        }
    }
    .card{
        @media screen  and (min-width: $m){
            width: 80%;
            margin: auto;
        }
        @media screen  and (min-width: $l){
            width: 50%;
            margin: 0;
            margin-left: auto;
        }
    }
    form{
        padding: 1rem;
        width: 90%;
        
        .field{
            padding-bottom: 1rem;
            width: 100%;

            label{
                display: block;
                padding-bottom: .3rem;
                text-align: left;
            } 
            input.form-control{
                text-align: center;
                width: 100%;
                padding: .8em;
                overflow: hidden;
                transition: all .5s ease;
                -webkit-transition: all .5s ease;
                -moz-transition: all .5s ease;
                -ms-transition: all .5s ease;
                -o-transition: all .5s ease;
                &.is-invalid{
                    border-color: $warning;
                }
                &::placeholder{
                    color: $dark;
                }
            }
            .invalid-feedback{
                color: $warning;
                font-size: $smaller-font-size;
                font-weight: $font-bold;
            }
        }

        .btn{
            min-width: 200px;
        }
    }

}
/*===== POSTS =====*/
section#articles{
    margin: 2rem 0;
    article.card{
        text-align: left;
        .card-header>*{
            display: flex;
            align-items: center;
        }
        .actions{
            padding: .4rem;
            display:flex;
            align-self: flex-end;
            a{
                color: $dark;
            }
        }
        .card-header{
            display: flex;
            position: relative;
            flex-direction: column;
            padding: 1rem 1.5rem 0;
            .posted-by{
                display: inline-flex;
                align-items: center;
                padding-right: .5rem;
                font-weight: $font-bold;
            }
            .posted-by::before{
                content: "_";
                padding: 0 .5rem 1rem;
                display: inline-block;
            }
            &::after{
                content: "";
                z-index: 1;
                width: 6rem;
                height: 6rem;
                position: absolute;
                top: 0;
                right: 0;
                background-image: url("data:image/svg+xml,%3Csvg id='patternId' width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(2) rotate(45)'%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='hsla( 0)'/%3E%3Cpath d='M11 6a5 5 0 01-5 5 5 5 0 01-5-5 5 5 0 015-5 5 5 0 015 5' stroke-width='1' stroke='none' fill='hsla({$secondary,1}, 1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect width='800%25' height='800%25' transform='translate(-44,-58)' fill='url(%2523a)'/%3E%3C/svg%3E");
            }
        }

        .card-body,
        .card-footer{
            padding: .5rem 1.5rem;
        }                  
        .post{
            white-space: pre-line;
            overflow-wrap: break-word;
        }
        .post-title{
            font-size: 1.3rem;
            color: $primary;
        }
        .post-link{
            border: 1px solid $medium;
            display: flex;
            flex-direction: column;
            background-color: $medium;
            padding: 0;
            margin: 1rem 0;
            border-radius: .4rem;
            -webkit-border-radius: .4rem;
            -moz-border-radius: .4rem;
            -ms-border-radius: .4rem;
            -o-border-radius: .4rem;
            overflow: hidden;
            img{
                width: 100%;
            }
            .link-description{
                border-top:  1px solid $medium;
                display: flex;
                flex-direction: column;
                padding: .5rem;
                .domain{
                    color: $secondary;
                }
            }

        }
        
    }
}
.tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .6rem;
    
    .tag{
        font-size: $smaller-font-size;
        text-transform: uppercase;
        font-weight: $font-bold;
        padding: .2rem 1rem;
        margin: .3rem;
        border: 1px solid $primary;
        border-radius: .2rem;
        -webkit-border-radius: .2rem;
        -moz-border-radius: .2rem;
        -ms-border-radius: .2rem;
        -o-border-radius: .2rem;
        color: $primary;
        &:hover{
            background-color: $primary;
            color: white;
        }
    }
}
#account-details{
        width: 100%;
        padding: 2rem 1rem;
        @media screen and (min-width: $l){
            width: 90%;
            margin: auto;
        }
        
        .field{
            width: 100%;
            padding: .5rem;
            text-align: left;
            @media screen and (min-width: $m){
                display: flex;
            }

            .label, .input {
                min-height: 1.5rem;
            }
            label, input{
                display: block;
                width: 100%;
            }

            label, .label {
                font-weight: $font-bold;
                @media screen and (min-width: $m){
                    width: 35%;
                    max-width: 11rem;
                }
                @media screen and (min-width: $xl){
                    max-width: 15rem;
                }
            }
            .input {
                width: 100%;
                @media screen and (min-width: $m){
                   width: 70%; 
                }
                
                div {
                    label{
                        min-width: 9rem;
                        margin-right: $gap;
                    }
                    @media screen and (min-width: $m){
                        display: flex;
                        padding-right: 0;
                    }
                }
                @media screen and (min-width: $m){
                    flex: 2;
                }
            }
            &:last-of-type{
                margin-bottom: $gap;
            }
        }
}

/*========== FOOTER ==========*/
footer{
    position: absolute;
    bottom: 0;
    clip-path:polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
    padding: 5rem 0 2rem;
    text-align: center;
    width: 100%;
    font-size: $smaller-font-size;
    text-transform: uppercase;

    .socials a i{
        color: #fff !important;
        font-size: 1.5rem;
        padding: .5rem .5rem 0;
    }
}