/*========== BREAKPOINTS ==========*/
$s: 30rem;
$m: 48rem;
$l: 62rem;
$xl: 80rem;
/*========== COLORS ==========*/
$primary: #143147;
$secondary: #ee9f1e;
$accent: #36746e;
$background: #fff;
$dark: #888;
$medium: #dcdcdc;
$light: #f6f6f6;
$warning: #e62e2d;
$success: #52ac73;

/*========== FONTS & TYPOGRAPHY ==========*/
$main-font: 'Raleway', sans-serif;
$important-font: 'Pacifico', cursive;
$h1: 2.5rem;
$medium-font-size: 1.125rem;
$regular-font-size: 1rem;
$small-font-size: .875rem;
$smaller-font-size: 0.75rem;


$font-regular: 400;
$font-bold: 700;

/*========== ELEMENTS SIZE ==========*/
$header-height : 6.5rem;
$gap: 1.5rem;

