/*========== BREAKPOINTS ==========*/
$s: 30rem;
$m: 48rem;
$l: 62rem;
$xl: 80rem;
/*========== COLORS ==========*/
$primary: #02c8a7;
$secondary: #f9be02;
$accent: #e6333e ;
$background: #cde1cc;
$light: #f2fbfc;
$dark: #5e6368;
$warning: #dc3545;
$success: #57b492;
$border-light: #ddd;

$text-primary: #333;

/*========== FONTS & TYPOGRAPHY ==========*/
$main-font: 'Quicksand', sans-serif;
$medium-font-size: 1.125rem;
$regular-font-size: 1rem;
$small-font-size: .875rem;
$smaller-font-size: 0.75rem;

$font-light: 300; 
$font-medium: 400;
$font-semi-bold: 600;

/*========== ELEMENTS SIZE ==========*/
$header-height : 3.5rem;
$gap: 1rem;
