$primary: #FF0000;
$secondary: #282828;
$light: #EAE8DC;
$info: #0E3746;

@import "../bootstrap/scss/bootstrap";

.form{
    min-height: 80vh;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0,0,0,.4);

    input:not[type=submit]{
	    border: 1px solid transparent;
	    border-bottom-color: $secondary;
        padding: 1em .5em .5em 2em;
        outline:none;
		transition: all .5s ease;
        &:focus{
            border-bottom-color: $info;
	        box-shadow: 0 0 5px rgba(0,80,80,.4); 
	        border-radius: 4px;
        }
    }
}
.main-page #articles {
    height: 80vh;
    justify-content: flex-start;
    white-space: pre-line;
}